<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ER Diagram</title>
    <style>
        /* Your CSS styles here */
        img {
            max-width: 100%;
            height: auto;
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1>ER Diagram</h1>
    <a href="https://ibb.co/KXh6P3B"><img src="https://i.ibb.co/yXP09bK/er.jpg" alt="er" border="0"></a>
    <img src="/ER_REL.png" alt="ER Diagram">
    <img src="/ER_REL_2.png" alt="ER Diagram">
</body>
</html>

